fastapi
uvicorn
requests
python-multipart
openpyxl
psycopg2-binary
python-dotenv                                                                                                                                                                                       